.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.dark {
  background-color: #333333;
  padding: 10px 0px;
}

.body {
  background-color: #666666;
  color: #fff;
  height: 100%;
}

.header {
  width: 100%;
  height: 75px;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: #333333;
  color: #fff;
}

.logo {
  height: 75px;
  cursor: pointer;
}

.headerLinks {
  text-decoration: none;
  cursor: pointer;
  margin: 25px;
  user-select: none;
}

.headerLinks:hover {
  color: #999999;
}

.text-input {
  max-height: 50px;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #666666;
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;

}

.text-input:focus {
  border-color: #007bff;
  background-color: #999999;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #666666;
}

#homepageImg {
  height: 414px;
}

.homepage {
  display: flex;
  width: 100%;
  justify-content: center;
}

.now-showing {
  color: orange;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.now-showing-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: center;
}

.now-showing-image-container {
  height: 300px;
  width: 400px;
}

.now-showing-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.now-showing-image {
  height: 300px;
  width: 400px;
}

.now-showing-card {
  margin: 5px;
  padding: 10px;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}